/** variables section */
@property --deg {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} /* Initialize background rotation angle */
@property --radius {
    syntax: "<length>";
    initial-value: 0px;
    inherits: false;
} /* Initialize radius */
:root {
    /* color palette */
    --body-bg: linear-gradient(var(--deg), #282727, #4c4b4b);
    --logo-bg: conic-gradient(#000000, #4c4b4b00, #000000, #4c4b4b00, #000000, #4c4b4b00, #000000, #4c4b4b00, #000000);
    --base-text: #ffffff;
    --btn-bg: #00000000;
    --btn-color: #ffffff89;
    --cmd-bg: #00000027;
    --sidePnl-bg: #18171781;
    --sidePnl-opt-bg: #8d848400;
    --sidePnl-opt-bg-hvr: #00000033;
    --closeBtn-color: #dbdbdb;
    --mod-bg: #0000003f;
    --mo-cf-bg: #dfdfdf;
    --mo-cf-bg-hvr: #dfdfdfaa;
    --radio-bg: #000000;
    --radio-bg-checked: #947332;
    --radio-bg-hvr: #313131;
    --svg-icn: #CCCCCC;

    /* numerics */
    --modal-width: 80vw;
    --modal-height: 50vh;
    --theme-container-width: 20px;
}

.lightMode {
    --body-bg: linear-gradient(var(--deg), #3e3838, #c7b2b2);
    --logo-bg: conic-gradient(#0f0f0f, #5e5656, #0f0f0f, #5e5656, #0f0f0f, #5e5656, #0f0f0f, #5e5656, #0f0f0f);
    --base-text: #000000;
    --btn-bg: #00000000;
    --btn-color: #00000089;
    --cmd-bg: #8e6a6a;
    --sidePnl-bg: #98898981;
    --sidePnl-opt-bg: #ffffff00;
    --sidePnl-opt-bg-hvr: #e0e0e033;
    --closeBtn-color: #1f1f1f;
    --mod-bg: #6659593f;
    --mo-cf-bg: #b48585;
    --mo-cf-bg-hvr: #fcb1b1aa;
    --radio-bg: #ffe5e5;
    --radio-bg-checked: #ff6b6b;
    --radio-bg-hvr: #e88888;
    --svg-icn: #150101;
}
header {
    width: 100vw;
    height: 100vh;
    z-index: 200;
}
.center {
    align-self: center;
    text-align: center;
}
.container-hCenter {
    display: flex;
    justify-content: center;
}
.container-vCenter {
    display: flex;
    align-items: center;
}
/** customization section */
body {
    background: var(--body-bg); /* Set background gradient and properties */
    background-size: 100% 100%;
    background-attachment: fixed; /* Fixed background */

    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align content at the top */

    height: 100vh; /* Full viewport height */
    transform-origin: center left; /* Set transform origin */
    transition: 0.5s; /* Smooth transition */
    animation: rotate 10s infinite linear; /* Rotate background */ 
    overflow: hidden;/* Hide overflow content */
    position: relative; 
}
#body {
    display: flex; /* Flex container for body content */
    flex-direction: column; /* Column direction for flex items */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 10px; /* Padding for body content */
    position: absolute; 
    z-index: -100;
}
#theme-switch {
    background: var(--btn-bg);
    color: var(--base-text);
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    margin: 15vh 35vw;
    position: absolute;
    z-index: 200;
}
#theme-switch img {
    width: 10vw;
    height: 10vh;
}

#theme-switch img:first-child {
    display: none;
}
.lightMode #theme-switch img:last-child {
    display: none;
}
.lightMode #theme-switch img:first-child {
    display: block;
}
#dark-mode, #light-mode {
    width: var(--theme-container-width);
    height: max-content;
}

@keyframes rotate {
    to {
        --deg: 360deg; /* rotates the background 360 degrees */
    }
}

#logo {
    width: var(--radius); /* sets the logo size */
    height: var(--radius); 
    background: var(--logo-bg); /* sets the logo background */
    border-radius: 50%; /* ensures proper circle */
    align-self: flex-start;
    margin-top:50px;

    animation: popUp 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1 forwards, /* makes the disc appear, and makes it round once in the same direction as the background */
               retroRotate 10s infinite linear; /* makes the disc rotate infinitely anti-clockwise */
}
@keyframes popUp {
    0% {
        --radius: 0px;
        transform: rotate(0deg)
    }
    100% {
        --radius: 200px;
        transform: rotate(360deg);
    }
}
@keyframes retroRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
#bar {
    position: relative;
    height: 5vh;
    width: 20vw;
    margin: 10px auto 10px auto;
    text-align: center;
} /* basic styling for the section, which holds the introduction message */

#bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 5vh;
    width: 20vw;
    color: var(--base-text);
    font-family: "Edu AU VIC WA NT Dots";
    letter-spacing: 2px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: typing 7s linear 1 forwards;
}  /* styling for the introduction message */

@keyframes typing {
    0%{content:"";}
    15%{content:"H";}
    16% {content: "Hi";}
    17% {content: "Hi, ";}
    18% {content: "Hi, i";}
    19% {content: "Hi, it";}
    20% {content: "Hi, it's";}
    21% {content: "Hi,it's D";}
    22% {content: "Hi,it's De";}
    23% {content: "Hi,it's Des";}
    24% {content: "Hi,it's Desc";}
    25% {content: "Hi,it's Desca";}
    26% {content: "Hi,it's Descar";}
    27% {content: "Hi,it's Descart";}
    28% {content: "Hi,it's Descarte";}
    29% {content: "Hi,it's Descartes";}
    35% { content: "Hi, it's Descarte"; }
    36% { content: "Hi, it's Descart"; }
    37% { content: "Hi, it's Descar"; }
    38% { content: "Hi, it's Desca"; }
    39% { content: "Hi, it's Desc"; }
    40% { content: "Hi, it's Des"; }
    41% { content: "Hi, it's De"; }
    42% { content: "Hi, it's D"; }
    43% { content: "Hi, it's"; }
    44% { content: "Hi, it"; }
    45% { content: "Hi, i"; }
    46% { content: "Hi, "; }
    47% { content: "Hi"; }
    48% { content: "H"; }
    49% { content: ""; }

    51%{content:"I";}
    51%{content:"I'm";}
    51%{content:"I'm y";}
    52%{content:"I'm yo";}
    53%{content:"I'm you";}
    54%{content:"I'm your";}
    55%{content:"I'm yours";}
    56%{content:"I'm yours P";}
    56%{content:"I'm yours Pe";}
    57%{content:"I'm yours Per";}
    58%{content:"I'm yours Pers";}
    59%{content:"I'm yours Perso";}
    60%{content:"I'm yours Person";}
    61%{content:"I'm yours Persona";}
    62%{content:"I'm yours Personal";}
    63%{content:"I'm yours Personal A";}
    64%{content:"I'm yours Personal As";}
    65%{content:"I'm yours Personal Ass";}
    66%{content:"I'm yours Personal Assis";}
    67%{content:"I'm yours Personal Assist";}
    68%{content:"I'm yours Personal Assistant";}
    71% { content: "I'm yours Personal Assistant"; }
    72% { content: "I'm yours Personal Assist"; }
    73% { content: "I'm yours Personal Assis"; }
    74% { content: "I'm yours Personal Ass"; }
    75% { content: "I'm yours Personal As"; }
    76% { content: "I'm yours Personal A"; }
    77% { content: "I'm yours Personal"; }
    78% { content: "I'm yours Persona"; }
    79% { content: "I'm yours Person"; }
    80% { content: "I'm yours Perso"; }
    81% { content: "I'm yours Pers"; }
    82% { content: "I'm yours Per"; }
    83% { content: "I'm yours Pe"; }
    84% { content: "I'm yours P"; }
    85% { content: "I'm yours"; }
    86% { content: "I'm your"; }
    87% { content: "I'm you"; }
    88% { content: "I'm yo"; }
    89% { content: "I'm y"; }
    90% { content: "I'm"; }
    91% { content: "I"; }
    92% { content: ""; }

    99% { content: "Let's"; }
    100% { content: "Let's proceed!"; }
}

#btn {
    background: var(--btn-bg); /* Transparent background for button */
    border: 0; /* Remove border from button */
    position: relative;
    z-index: 2;
    color: var(--btn-color); /* sets the color of the button text (i.e. "Press Enter") */
}
button {
    cursor: pointer; /* Change cursor to pointer */
}
#command {
    margin-top: 20px; /* Margin at the top of the input field */
    left: -10px; /* Position adjustment for the input field */
    background: var(--cmd-bg); /* Semi-transparent background for the input field */
    border: 0; /* Remove border from the input field */
    color: var(--base-text); /* Set text color to white for the input field */
    position: relative; /* Relative positioning for the input field */
    z-index: 2;
    border-radius: 20px;
    padding: 5px; /* Add padding to the input field */
    font-size: 16px;
}
#command:active, #command:focus {
    border: 0; /* Remove border when input field is active or focused */
    outline: none;
}

/** Other extensions  */

nav {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}
#sidepanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: -10px;
    background: var(--sidePnl-bg); /* Semi-transparent background */
    backdrop-filter: blur(10px) brightness(0.7); /* Apply visual effect */
    width: 200px;
    height: 100vh;
    border-radius: 0 10px 10px 0;
    visibility: hidden;
    /* translate: -50vw 0; */
    z-index: 5;
    transition: 200ms linear;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* overflow: hidden; */
}
#sidepanel .options {
    background: var(--sidePnl-opt-bg);
    border: 0;
    color:var(--base-text);
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    width: 250px;
    min-height: max-content;
    /* Use max-content for the minimum height */
    padding: 10px;
    /* Add padding to increase the height */
    line-height: 2em;
}
#sidepanel .options:hover {
    background: var(--sidePnl-opt-bg-hvr);
    width: 250px;
}
#sidepanel::-webkit-scrollbar {
    visibility: hidden;
    width: 100px;
    height: 10px;
}
.closeBtn {
    margin: 1px 0;
    font-size: 1.5rem;
    align-self: flex-end;
    color: var(--closeBtn-color);
    background: var(--btn-bg);
    border: 0;
    outline: 0;
}
.openBtn {
    position: absolute;
    top: -15px;
    left: -5px;
    width: 25px; 
    height: 25px; 
    font-size: 2rem;
    background: var(--btn-bg); /* Transparent background */
    color: var(--closeBtn-color); /* Text color */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    z-index: -3;
}
#hamburger-img {
    transform: scale(0.15);
    translate: -55px -10px;
    transition: 200ms linear;
    fill: var(--svg-icn);
}
#hamburger-img:hover {
    transform: scale(0.16);
    translate: -55px -10px;
}
#modalTray {
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    z-index: 50; */
}
#modal {
    position: absolute;
    visibility: hidden;
    width: var(--modal-width);
    height: var(--modal-height);
    background: var(--mod-bg);
    backdrop-filter: blur(10px);
    left: calc((100vw - var(--modal-width)) / 2);
    top: calc((100vh - var(--modal-height)) / 2);
    color: var(--base-text);
    z-index: 10; /* Further increase z-index to bring modal in front of btn */
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;

    scrollbar-width: 0; /* For FireFox */
    scrollbar-color: #ffffff00; /* For FireFox */

    -ms-overflow-style: none; /* For IE and Edge */
}
#modal::-webkit-scrollbar {
    width: 0;
    height: 0;
} /* for Chrome, Safari and Opera */

#mod-close {
    background: #00000008;
    outline: 0;
    border: 0;
    border-radius: 10%;
    position: relative;
    left: calc(var(--modal-width) - 20px);
    color: var(--base-text);
}

.mo-cf {
    margin-top: 30px;
    border: 0;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    background: var(--mo-cf-bg);
}
.mo-cf:hover {
    background: var(--mo-cf-bg-hvr);
    color: var(--base-text);
    font-weight: lighter;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 8.66px;
    background-color: var(--radio-bg);
    position: relative;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 10px;    
}

input[type="radio"]:checked {
    background-color: var(--radio-bg-checked);
    /* Change color for checked state */
}

input[type="radio"]:not(:checked):hover {
    background-color: var(--radio-bg-hvr);
}

